<div class="topmost-image">
  <img class="w-100 img-responsive" src="assets/images/nestle-tsjmia.gif" />
</div>

<div class="container-fluid">
  <div class="notnav row d-flex text-dark">
    <div class="col-4 foodpartyetc">
      <a class="navbar-brand"
        ><i class="fa fa-star"></i
        ><span class="text-dark">Sell on jumia</span></a
      >
    </div>

    <div class="d-flex justify-content-start">
      <span>jumia</span>
      <i class="pr-2 fa fa-shopping-cart"></i>

      <a>
        <h6 class="">PAY</h6>
      </a>
      <h6>FOOD</h6>
      <h6>PRIME</h6>
      <h6>PARTY</h6>
      <h6>LOGISTIC</h6>
    </div>
  </div>
  <div class="row d-flex justify-content-around navbar-brand bg-light">
    <div class="jumia-br"><a class="">JUMIA</a></div>

    <div class="searchbarbar">
      <!-- <input type="text" #searchbar [(ngModel)]="searchinput" placeholder="Search products, brands and categories" (keyup)="fetchProductsBySearch($event)"/>
                 <button (click)="fetchProductsBySearch($event)">Search</button>  -->
      <input type="text" [(ngModel)]="productfilter" placeholder="rethjewngs" />
      <button>displayproductfilter</button>
    </div>

    <cart-summary></cart-summary>
  </div>

  <!-- End of Navbar -->
  <div class="row">
    <div class="col-3 p-2">
      <button
        class="btn btn-block btn-outline-primary"
        (click)="changeCategory()"
      >
        Home
      </button>
      <button
        *ngFor="let cat of getCategories()"
        class="btn btn-outline-primary btn-block"
        [class.active]="cat == selectedCategory"
        (click)="changeCategory(cat)"
      >
        {{ cat }}
      </button>

      <button class="btn btn-block btn-danger mt-3" routerLink="/admin">
        Admin
      </button>
    </div>

    <div class="col-9 p-2">
      <div class="product" >
        <div class="row d-flex">
          <div class="p">
            <div
              *ngFor="let product of filteredproduct"
              class="card m-1 p-1 bg -light"
            >
              <h4>
                {{ product.name }}
                <span class="badge badge-pill badge-primary float-right">
                  {{ product.price | currency: "USD":"symbol":"2.2-2" }}
                </span>
              </h4>
              <div class="card-text bg-white p-1">
                {{ product.description }}
              </div>
              <div class="card-text bg-white">
                <img [src]="product.imageurl" alt="path not found" [title]="product.name" [style.height.px]="imageHeight" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"/>
{{ product.imageurl}}
              </div>
              <button
                class="btn float-right"
                (click)="addProductToCart(product)"
              >
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 
    <ng-template #getProd> 
        <div class="row d-flex">
       
            <div *ngFor="let product of filteredproduct" class="card m-1 p-1 bg -light"  >
                <h4>
                    {{product.name}}
                    <span class="badge badge-pill badge-primary float-right">
                        {{ product.price | currency:"USD":"symbol":"2.2-2" }}
                    </span>
                </h4>
                <div class="card-text bg-white p-1">{{product.description}}</div>
                <button class="btn float-right" (click)="addProductToCart(product)">
                    Add To Cart
                </button>
            </div>

        
    </div>
</ng-template> -->

      <div class="form-inline float-left mr-1">
        <select
          class="form-control"
          [value]="productsPerPage"
          *ngIf="getProducts().length"
          (change)="changePageSize($any($event.target).value)"
        >
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="6">6 per Page</option>
          <option value="8">8 per Page</option>
        </select>
      </div>
      <div class="btn-group float-right">
        <button
          *ngFor="let page of getpageNumbers()"
          (click)="changePage(page)"
          class="btn btn-outline-primary"
          [class.active]="page == selectedPage"
        >
          {{ page }}
        </button>
      </div>
    </div>
    cjjchhhdshhsdfh
  </div>
</div>
